<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cardbase.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,199},{147,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,199},{147,195}}</string>
				<key>sourceSize</key>
				<string>{147,195}</string>
			</dict>
			<key>8_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,357},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,357},{34,48}}</string>
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>7_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,336},{35,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{475,336},{35,46}}</string>
				<key>sourceSize</key>
				<string>{35,46}</string>
			</dict>
			<key>11_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,434},{31,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{468,434},{31,47}}</string>
				<key>sourceSize</key>
				<string>{31,47}</string>
			</dict>
			<key>poker_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,396},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{96,396},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>3_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,384},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{468,384},{34,48}}</string>
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>6_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,343},{35,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{151,343},{35,47}}</string>
				<key>sourceSize</key>
				<string>{35,47}</string>
			</dict>
			<key>joker_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,173},{119,168}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{272,173},{119,168}}</string>
				<key>sourceSize</key>
				<string>{143,192}</string>
			</dict>
			<key>pokerFace_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,343},{119,166}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{190,343},{119,166}}</string>
				<key>sourceSize</key>
				<string>{143,192}</string>
			</dict>
			<key>cardbase_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,178},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{432,178},{52,53}}</string>
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>
			<key>6_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,202},{35,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{393,202},{35,47}}</string>
				<key>sourceSize</key>
				<string>{35,47}</string>
			</dict>
			<key>12_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,278},{43,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{481,278},{43,56}}</string>
				<key>sourceSize</key>
				<string>{43,56}</string>
			</dict>
			<key>2_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,2},{33,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{397,2},{33,47}}</string>
				<key>sourceSize</key>
				<string>{33,47}</string>
			</dict>
			<key>cardbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,2},{123,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{151,2},{123,169}}</string>
				<key>sourceSize</key>
				<string>{123,169}</string>
			</dict>
			<key>9_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,390},{34,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{432,390},{34,47}}</string>
				<key>sourceSize</key>
				<string>{34,47}</string>
			</dict>
			<key>12_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,282},{43,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{430,282},{43,56}}</string>
				<key>sourceSize</key>
				<string>{43,56}</string>
			</dict>
			<key>1_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,233},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{432,233},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>2_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,51},{33,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{397,51},{33,47}}</string>
				<key>sourceSize</key>
				<string>{33,47}</string>
			</dict>
			<key>13_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,309},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{526,309},{47,46}}</string>
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>1_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,212},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{526,212},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>poker_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,2},{92,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{432,2},{92,88}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>
			<key>cardbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{147,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{147,195}}</string>
				<key>sourceSize</key>
				<string>{147,195}</string>
			</dict>
			<key>4_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,228},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{486,228},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>10_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,2},{58,48}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{526,2},{58,48}}</string>
				<key>sourceSize</key>
				<string>{64,48}</string>
			</dict>
			<key>10_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,52},{58,48}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{526,52},{58,48}}</string>
				<key>sourceSize</key>
				<string>{64,48}</string>
			</dict>
			<key>poker_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,92},{92,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{432,92},{92,84}}</string>
				<key>sourceSize</key>
				<string>{92,84}</string>
			</dict>
			<key>pokerFace_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,2},{119,166}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{276,2},{119,166}}</string>
				<key>sourceSize</key>
				<string>{143,192}</string>
			</dict>
			<key>9_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,439},{34,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{432,439},{34,47}}</string>
				<key>sourceSize</key>
				<string>{34,47}</string>
			</dict>
			<key>small_joker_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,157},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{526,157},{52,53}}</string>
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>
			<key>small_joker_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,102},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{526,102},{52,53}}</string>
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>
			<key>13_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,261},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{526,261},{47,46}}</string>
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>poker_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,396},{92,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,396},{92,94}}</string>
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>5_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,100},{32,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{397,100},{32,49}}</string>
				<key>sourceSize</key>
				<string>{32,49}</string>
			</dict>
			<key>5_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,151},{32,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{397,151},{32,49}}</string>
				<key>sourceSize</key>
				<string>{32,49}</string>
			</dict>
			<key>11_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,434},{31,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{501,434},{31,47}}</string>
				<key>sourceSize</key>
				<string>{31,47}</string>
			</dict>
			<key>joker_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,173},{119,168}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{151,173},{119,168}}</string>
				<key>sourceSize</key>
				<string>{143,192}</string>
			</dict>
			<key>7_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,251},{35,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{393,251},{35,46}}</string>
				<key>sourceSize</key>
				<string>{35,46}</string>
			</dict>
			<key>8_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,340},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{432,340},{34,48}}</string>
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>4_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,178},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{486,178},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>3_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,357},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{548,357},{34,48}}</string>
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>pokerFace_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,343},{119,166}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{311,343},{119,166}}</string>
				<key>sourceSize</key>
				<string>{143,192}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>poker.png</string>
			<key>size</key>
			<string>{586,511}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>poker.png</string>
		</dict>
	</dict>
</plist>
